@charset "UTF-8";

/* 창 크기 */
div.grouplist_main {
   width: 24.25%;
   height: 220px;
   float: left;
   margin-bottom: 10px;
   margin-right: 0.7%;
}

/* 아이템 폼 */
div.grouplist_itemform {
   width: 100%;
   height: 100%;
   float: left;
   border: 1px solid black;
   background-size: 100% 100%;
}

/* 아이템 정보 텍스트폼 */
/*
div.grouplist_itemInfoTextForm {
   width: 80%;
   height: 100%;
   float: left;
   position: relative;
   z-index: 2;
}
*/

div.grouplist_itemInfoEmpty1 {
   /* 아이템 빈공간1 */
   width: 100%;
   height: 20%;
}

div.grouplist_itemInfoEmpty2 {
   /* 아이템 빈공간2 */
   width: 100%;
   height: 46%;
}

div.grouplist_itemInfoSubjectForm {
   width: 100%;
   height: 14%;
   padding: 2%;
}

div.grouplist_itemInfoEmpty3 {
   /* 아이템 빈공간3 */
   width: 100%;
   height: 5%;
}

div.grouplist_itemInfoTagForm {
   width: 100%;
   height: 14%;
   padding: 2%;
}

div.grouplist_itemInfoEmpty4 {
   /* 아이템 빈공간4 */
   width: 100%;
   height: 5%;
}

p.grouplist_itemInfoSubject {
   color: #FFFFFF;
   font-size: 120%;
   font-weight: bolder;
   border: 0px;
}

p.grouplist_itemInfoTag {
   color: #41FF3A;
   font-size: 105%;
   font-weight: bold;
}

div.grouplist_itemInfoButtonForm {
   width: 20%;
   height: 100%;
   float: left;
   position: relative;
   z-index: 2;
}

div.grouplist_itemInfoButtonEmpty1 {
   width: 100%;
   height: 20%;
}

div.grouplist_itemInfoButtonEmpty2 {
   width: 100%;
   height: 50%;
}

div.grouplist_itemInfoButtonForm { {
   width: 100%;
   height: 30%;
   text-align: right;
   padding: 10%;
}

button.grouplist_itemInfoButton {
   width: 50px;
   height: 50px;
   border-radius: 50px;
   padding: 10px;
}

span.grouplist_itemInfoButtonSpan {
   font-size: 170%;
}

div.grouplist_itemInfoBackgroundEmpty {
   width: 100%;
   height: 65%;
   position: relative;
   border: 1px solid black;
}



div.grouplist_itemInfoBackgroundFliter {
   width: 100%;
   height: 35%;
   position: relative;
   background-color: #000000;
   opacity: 0.7 !important;
   filter: alpha(opacity = 70);
   z-index: 1;
}